@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Qafzahfont';
  src: url('./assets/fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family:'Qafzahfont' ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  height: 7px;
  width: 3px;
  background: transparent; /* Transparent track */
  border-radius: 2px;

}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

::-webkit-scrollbar-thumb {
  background: #7732CA;
  border-radius: 1px;

  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}